$light-color: #e6ccb2;
$dark-color: #9c6644;
$light-text: #7f5539;
$dark-text: #ede0d4;

// ===== CHESSBOARD

$size: 50rem;

#board {
    @include font('header');

    user-select: none;
}

.squares {
    float: left;
    height: $size;
    width: $size;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(8, 1fr);

    & > * {
        box-sizing: border-box;
        padding-left: .25rem;
        padding-top: .25rem;
    }

    & .light { background-color: $light-color; color: $light-text; }
    & .dark { background-color: $dark-color; color: $dark-text; }

    & .light.highlighted {
        background-color: #b83636;
    }
    
    & .dark.highlighted {
        background-color: #c05353;
    }
}

// ===== PIECES

$cellsize: calc($size/8);

.pieces {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

.piece {
    height: $cellsize;
    width: $cellsize;
    position: absolute;
    cursor: grab;

    // touch-action: none;
	// user-select: none;
	// -webkit-user-drag: none;
	// -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin piece($path) {
    @extend .piece;
    background: url('./' + $path + '.svg') center no-repeat;
    background-size: calc($cellsize - .85rem);
}

.p { @include piece('black_pawn') }
.n { @include piece('black_knight') }
.b { @include piece('black_bishop') }
.r { @include piece('black_rook') }
.q { @include piece('black_queen') }
.k { @include piece('black_king') }

.P { @include piece('white_pawn') }
.N { @include piece('white_knight') }
.B { @include piece('white_bishop') }
.R { @include piece('white_rook') }
.Q { @include piece('white_queen') }
.K { @include piece('white_king') }